mat-card {
    width: max-content;
    margin-bottom: 2rem;
}

mat-form-field {
    margin-right: 1rem;
}
.book-title {
    width: 300px;
}
.book-author {
    width: 200px;
}

.book-price {
    width: 100px;
}

.category-select {
    width: 250px;
}





